<h2>Pending Merges</h2>


<table>
  <th>Repo</th>
  <th>Number</th>
  <th>Title</th>
  <th>Author</th>
  <th>Opened</th>
  <%= for merge <- @merges do %>
    <tr>
      <td><%= merge.repository.name %></td>
      <td><%= merge.number %></td>
      <td><%= merge.title %></td>
      <td><%= merge.user.login %></td>
      <td><%= merge.opened_at %></td>
    </tr>
  <% end %>
</table>
