<section class="phx-hero">
  <h1>MRGR</h1>
  <p>and acquisition..?</p>
</section>

<section class="row">
  <article class="column">
    <%= if signed_in?(@conn) do %>
      <a href="https://github.com/apps/get-mrgr/installations/new">Connect Github</a> 
    <% end %>
  </article>
</section>
