<section class="phx-hero">
  <h1>MRGR</h1>
  <p>and acquisition..?</p>
</section>

<section class="row">
  <article class="column">
    <a href="/auth/github">Sign up with Github</a>
  </article>
</section>
