<div>
  <h1>Bad news :(</h1>

  <p>Someone failed to sign up.</p>

  <p>
    The error is <%= inspect(@error) %>
  </p>

  <pre>
    <%= render_map(@params) %>
  </pre>

  <p>You can do it! ✌️</p>

  <p>- The Mrgr Team</p>
</div>
