<div>
  <h1>Good news!</h1>

  <p>Someone signed up.  The total is <strong><%= @count %></strong></p>

  <p>
    The latest user is number <%= @user.id %>
  </p>
  <pre>
    <%= render_map(@params) %>
  </pre>

  <p>Great work ✌️</p>

  <p>- The Mrgr Team</p>
</div>
