<div>
  <h1>Hello! 👋</h1>

  <p>
    A file change alert in the <strong><%= @repository_name %></strong>
    repository was triggered in
    <.l href={~p"/pull-requests/hifs/#{@pull_request.id}/files-changed"}>
      <%= @pull_request.title %>
    </.l>, opened by @<%= @pull_request.author.login %>.  Here are the affected files:
  </p>

  <ul>
    <%= for rule <- @rules, filename <- rule.filenames do %>
      <li>
        <.hif_badge hif={rule} /> <%= filename %>
      </li>
    <% end %>
  </ul>

  <.external_link href={Mrgr.Schema.PullRequest.external_url(@pull_request)}>
    View it on Github.
  </.external_link>

  <p>Have a nice day ✌️</p>

  <p>- The Mrgr Team</p>
</div>

<.update_email_preferences_link />
