<div>
  <h1>Hello! 👋</h1>

  <p>
    You've been invited to join the <%= account_name(@installation) %> organization on Mrgr.  Our advanced pull request tools will help you get organized and save time.
  </p>

  <p>
    <.l href={~p"/sign-up"}>Accept the invitation</.l>
  </p>

  <p>Have a nice day ✌️</p>

  <p>- The Mrgr Team</p>
</div>
