<div>
  <.link href="https://app.mrgr.io/pull_requests">
    <%= img_tag(static_url(MrgrWeb.Endpoint, "/images/logo/Mrgr-B6.png"), style: "height: 2.5rem;") %>
  </.link>

  <%= @inner_content %>
</div>
