<div>
  <h1>Weekly Changelog for <%= @recipient.current_installation.account.login %></h1>
  <p>Hello <%= @recipient.name %>! 👋</p>

  <p>
    <%= @pull_requests.total %> pull requests were merged this week.  That's
    <.up_or_down this_week={@pull_requests.total} last_week={@closed_last_week_count} /> from
    <strong><%= @closed_last_week_count %></strong>
    last week.  Here's the full breakdown:
  </p>

  <div :if={Enum.any?(@pull_requests.last_friday.pull_requests)}>
    <.daily_changelog day={@pull_requests.last_friday} />
  </div>

  <div :if={Enum.any?(@pull_requests.saturday.pull_requests)}>
    <.daily_changelog day={@pull_requests.saturday} />
  </div>

  <div :if={Enum.any?(@pull_requests.sunday.pull_requests)}>
    <.daily_changelog day={@pull_requests.sunday} />
  </div>

  <div :for={day <- @pull_requests.this_week}>
    <.daily_changelog day={day} />
  </div>

  <p>
    Your full changelog is available
    <.l href={~p"/changelog"}>on our site</.l>.  Have a nice day ✌️
  </p>

  <p>- The Mrgr Team</p>
</div>

<.update_email_preferences_link />
