<div>
  <h1>Weekly Merged PR Summary for <%= @recipient.current_installation.account.login %></h1>
  <p>Hello <%= @recipient.name %>! 👋</p>

  <p>
    <%= @pull_requests.total %> pull requests were merged this week.  That's
    <.up_or_down this_week={@pull_requests.total} last_week={@closed_last_week_count} /> from
    <strong><%= @closed_last_week_count %></strong>
    last week.  Here's the full breakdown:
  </p>

  <div>
    <h3>High Impact PRs</h3>
    <p>These pull requests contained a change to a High Impact file.</p>

    <.pr_list pull_requests={@pull_requests.high_impact} />
  </div>

  <hr />

  <div :if={Enum.any?(@pull_requests.last_friday.pull_requests)}>
    <.daily_changelog day={@pull_requests.last_friday} />
  </div>

  <div :if={Enum.any?(@pull_requests.saturday.pull_requests)}>
    <.daily_changelog day={@pull_requests.saturday} />
  </div>

  <div :if={Enum.any?(@pull_requests.sunday.pull_requests)}>
    <.daily_changelog day={@pull_requests.sunday} />
  </div>

  <div :for={day <- @pull_requests.this_week}>
    <.daily_changelog day={day} />
  </div>

  <p>Have a nice day! ✌️</p>

  <p>- The Mrgr Team</p>
</div>
<div style="padding-top: 2rem;">
  <p style=" font-weight: 400; font-size: 0.75rem; line-height: 1rem;">
    <a href="https://app.mrgr.io/profile" style="rgb(15 118 110 / var(--tw-text-opacity));">
      Click here
    </a>
    to update your email preferences.
  </p>
</div>
