<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Mrgr", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script src="https://kit.fontawesome.com/b61013b8f4.js" crossorigin="anonymous"></script>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header>
      <section class="container">
        <nav>
            <%= if signed_in?(@conn) do %>
              <ul>
                <li><%= "@#{@conn.assigns.current_user.nickname}" %> <%= current_account(@conn.assigns.current_user) %></li>
                <li><%= link "Repos", to: Routes.repository_path(@conn, :index) %></li>
                <li><%= link "Pending Merges", to: Routes.pending_merge_path(@conn, :index) %></li>
                <li><%= link "Sign Out", to: Routes.auth_path(@conn, :delete), method: :delete %></li>
              </ul>
            <% else %>
              <%= link "Sign In With Github", to: Routes.auth_path(@conn, :github) %>
            <% end %>

          <ul>
            <%= if signed_in?(@conn) and admin?(@conn.assigns.current_user) do %>
              <li><%= link "Admin - Incoming Webhooks", to: Routes.admin_incoming_webhook_path(@conn, :index) %></li>
            <% end %>
            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <li><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %></li>
            <% end %>
          </ul>
        </nav>
        <a href="https://phoenixframework.org/" class="phx-logo">
          <img src={Routes.static_path(@conn, "/images/phoenix.png")} alt="Phoenix Framework Logo"/>
        </a>
      </section>
    </header>
    <%= @inner_content %>
    <footer>
      <div>
        <div>©<%= Date.utc_today.year %> Crevalle, LLC</div>
        <div>Made with ☀️  in Los Angeles, California 🏝</div>
      </div>
    </footer>
  </body>
</html>
