<div>
  <div class="hidden md:flex md:w-72 md:flex-col md:fixed md:inset-y-0">
    <!-- Sidebar component, swap this element with another sidebar if you like -->
    <div class="flex flex-col flex-grow border-r border-gray-200 pt-5 bg-white overflow-y-auto">
      <div class="flex justify-center">
        <%= img_tag "/images/logo/Mrgr-B3.png", class: "w-3/5" %>
      </div>
      <div class="mt-5 flex-grow flex flex-col">
        <%= live_render @conn, MrgrWeb.Live.ActivityFeed, session: %{"user_id" => @conn.assigns.current_user.id} %>
      </div>
    </div>
  </div>

  <div class="md:pl-72 flex flex-col flex-1">
    <%= live_render @conn, MrgrWeb.Live.NavBar, session: %{"user_id" => @conn.assigns.current_user.id} %>

    <main class="flex-1">
      <div class="">
        <%= @inner_content %>
      </div>
    </main>
    <footer>
      <div>
        <div>©<%= Date.utc_today.year %> Crevalle, LLC</div>
        <div>Made with ☀️  in Los Angeles, California 🏝</div>
      </div>
    </footer>
  </div>
</div>
