<div class="flex flex-col h-screen">
  <main class="flex-auto">
    <%= Phoenix.Component.live_render @conn, MrgrWeb.Live.NavBar, session: %{"user_id" => @conn.assigns.current_user.id} %>
    <div>
      <%= Phoenix.Component.live_render @conn, MrgrWeb.Live.Flash, session: %{"user_id" => @conn.assigns.current_user.id} %>

      <div class="m-6">
        <%= @inner_content %>
      </div>
    </div>
  </main>
  <footer class="shrink-0">
    <div class="bg-white text-gray-500 px-6 py-2 flex flex-col">
      <div>©<%= Date.utc_today.year %> Crevalle, LLC</div>
      <div>Made with ☀️  in Los Angeles, California 🏝</div>
    </div>
  </footer>
</div>
