<.heading title={"Open PRs (#{Enum.count(@pull_requests)})"} />
<div class="flex mt-8 space-x-4">
  <div class="basis-4/5 overflow-hidden">
    <div role="list" class="flex flex-col space-y-4" id="pending-pull-request-list">
      <.card
        :for={pull_request <- @pull_requests}
        pull_request={pull_request}
        current_user={@current_user}
        timezone={@timezone}
      />
    </div>
  </div>
</div>
